html, body {
	background: white;
	font-family: 'Lexend', sans-serif;
}

button {
	cursor: pointer;
}

.post-button {
	display: flex;
  align-items: center;
}

.new-post {
  display: flex;
  flex-direction: column;
	padding: 15px;
	margin: 5px;
	background: #f3f6fc;
	border-radius: 15px;
	border: 1px solid #bdbdbd;
}

.new-post-bottom {
	display: flex;
  justify-content: flex-end;
  flex-direction: row;
	margin-top: 10px;
}

.new-post-bottom button {
	padding: 10px;
	background: white;
	border: 1px solid #bdbdbd;
	border-radius: 10px;
	font-size: 1em;
	font-family: 'Lexend', sans-serif;
}

.post-textarea {
	padding: 10px;
	border: 1px solid #bdbdbd;
	border-radius: 10px;
	height: fit-content;
	background: white;
}

.posts {
	display: flex;
  flex-direction: column;
}

.post {
	padding: 15px;
	margin: 5px;
	border-radius: 20px;
	background: #f3f6fc;
	display: flex;
	flex-direction: column;
	border: 1px solid #bdbdbd;
}

.post .author {
	border-radius: 10px;
	padding: 10px;
	text-decoration: none;
	color: black;
}

.post .body {
	font-size: 1.2em;
	background: white;
	padding: 20px 10px;
	border-radius: 10px;
	margin-top: 10px;
	border: 1px solid #bdbdbd;
}

.thumbs-up {
	font-size: 1em !important;
	margin-right: 5px;
}

.send-icon {
	font-size: 1em !important;
	margin-left: 5px;
}

.post-bottom {
	display: flex;
	margin-top: 10px;
}

.post-bottom button {
	text-decoration: none;
	color: black;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: fit-content;
	border: 1px solid #bdbdbd;
	background: white;
	border-radius: 10px;
	padding: 10px;
	font-size: 1em;
}
